footer {
  background-color: #5C5D5C;
  color: white; }

.footercategories {
  list-style: none; }
  .footercategories li {
    border-bottom: 1px solid #767979; }
    .footercategories li a {
      color: white; }
      .footercategories li a:hover {
        list-style: none; }

.titlecategories {
  color: #767979; }

.footerreseaux {
  background-color: #3C4645; }
  .footerreseaux .alignementreaseaux {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
    margin-right: 10em !important; }
    .footerreseaux .alignementreaseaux a {
      background-color: #5C5D5C;
      font-size: 1em;
      border-radius: 50%;
      width: 2em;
      height: 2em;
      padding: 0.2em;
      margin: 0.5em;
      color: white;
      display: block;
      float: left;
      text-align: center;
      margin-right: 10px; }
      .footerreseaux .alignementreaseaux a i {
        margin: auto;
        padding: auto; }

.footerinstagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px; }

.titleinstagram {
  text-align: center;
  color: #767979; }
