//@import "categoryStyle";
*{
    padding: 0;
    margin: 0;
}
////////////////////////////////////////////////////////////////////////////
//reset le padding
.p0{
    padding : 0 0 0 0!important;
}
////////////////////////////////////////////////////////////////////
//style pour le titre de la catégorie (ex : wellness dans notre cas)
.titleCat{
    width: 96.5%;
    background-color: rgba($color: #F7F7F7, $alpha: 1.0);
    padding: 3vh 0;
    font-size: 1.2em; 
    text-align: center;
    margin-bottom: 7vh;
}
.titleCat a{
    color: #4e4d4d;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    &:hover{
        text-decoration: none;
        color: grey;
    }
}
////////////////////////////////////////
//Style Pour les trois buttons et la pub
.pubCat{
    position : absolute;
    top: 42%;
    left: 62.5%;
    padding: 0;
    width: 15%!important;
    div{
        background-color: rgb(107, 119, 173)!important;
        padding: 0.2vh 0;
        border-bottom: 0.2vh solid white;
        &:hover{
            background-color:rgb(170, 168, 199)!important;
        }
        a{
            font-size: 0.7rem;
            padding-left: 0;
            color:rgb(255, 255, 255)!important;
            text-decoration: none!important;
        }
    }
}
////////////////////////////////////
//style pour le contenu des articles
.postCatContainer{
    //permet de structurer dans l'espace le contenu
    width: 36.5%;
    margin-left: 22%;
    .postCat-thumbnail{
        height: 20vh;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @media screen and (max-width: 576px) {
        width: 55%;
        margin-left: 5%;
        .postCat-thumbnail{
            height: 20vh;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    //crée la sépartion entre les présentations d'articles
    .rowCat{
        //crée la coupure
        border-bottom: 1px solid #D3D3D3 ;
        padding-bottom: 4vh;
        margin-bottom: 4vh;
    }
    //modification des tailles et couleurs d'écritures
    .part2{
        margin-right: 3%;
        font-family: 'Open Sans', sans-serif;
        div{//gère la / les catégorie(s) afficher
            //border-right: 1px solid red;
            .postCat-category{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                a{
                    color: #F77676!important;
                    text-decoration: none;
                    font-size: 0.6rem;
                    font-weight: bolder;
                    padding-right: 1rem; 
                    border-right: 1px solid #D3D3D3;
                }
            }
        }
        .postCat-title{
            a{
                color:black!important;
                font-weight: bold;
                font-size: 1rem;
                letter-spacing: 0.01rem;
                font-family: 'Open Sans', sans-serif!important;
            }
            //border: 1px solid red;
        }
        .postCat-content{
            p{
                font-size: 0.9rem;
                font-family: 'Crimson Text', serif;
            }
            div{
                font-size: 0.9rem;
                font-family: 'Crimson Text', serif; 
            }
        }
        .postCat-SHARE{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            a{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 0.75rem;
                text-decoration: none;
                color: black;
                i{
                    margin-top : 8%;
                }
                p{
                    color: grey!important;
                    margin-left: 15%;
                }
            }
        }
    }
}

//font-family: 'Open Sans', sans-serif;
//font-family: 'Crimson Text', serif;





