$couleurOrange : rgb(255, 141, 105);
.contentAllStickyPub{
    display: flex;
    flex-wrap: wrap;
}
.headerPost{
    h6{
        text-transform: uppercase;
        padding-right: 0;
    }
    .borderHeaderPost{
        background-color: lightgray;
        height: 3px;
        margin-top: 7px;
    }
}
.contentStickyPost{
    margin-top: 20px;
    

.stickyPost{
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    .imageSticky{
        height: 200px;
        &:hover{
            opacity: 0.7;
            transition: all 0.4s;
        }
        img{
            width: 100%;
            height: 100%;

        }
    }
    .contentArticleSticky{
        a{
            text-decoration: none;
        }
        .categorySticky{
            text-transform: uppercase;
            font-size: 0.8em;
            .post-categories{
                padding-left: 0;
                display: flex;        
                list-style-type: none;
                li{
                    padding-left: 5px;
                    a{
                        color: $couleurOrange;

                    }
                }
            }
        }
        .titleSticky{
            text-transform: uppercase;
            text-decoration: none;
            color: black;
            &:hover{
                color:rgba(0, 0, 0,0.7);
                transition: all 0.3s;
                border-bottom:7px solid #ff8d69 ;
            }
        }

    }
}
}
.pubSticky{
    .contentSociaux{
        i,span{
            padding-left: 10px;
        }
        .facebookSlide{
            background: #899cce;
            padding: 10px 0;
            color: white;
            margin-bottom: 5px;
            &:hover{
                background: #262c3d;
            }
        }
        .twitterSlide{
            background: #60d1f5;
            padding: 10px 0;
            color: white;
            margin-bottom: 5px;
            &:hover{
                background: #262c3d;
            }
        }
        .instaSlide{
            color: white;
            background: #709bbf;
            padding: 10px 0;
            &:hover{
                background: #262c3d;
            }
        }
    }
}
        .widgetPub{
            margin-top: 20px;
            img{
    
                width: 100%;
            }
        }